# 판다스 용도
## 데이터 수집, 정리하는 역할
# 자료 형식
## 시리즈, 데이터 프레임
# 판다스 목적
## 서로 다른 여러가지 유형의 데이터를 공통 포맷으로 정리하는 것

1. 시리즈
   1.1 1차원 배열(1대1 대응)
   1.2 리스트, 튜플, 딕셔너리를 시리즈로 만들 수 있다(pd.Series())
   1.3 리스트, 튜플은index를 지정하지 않으면 0,1,2,...
   1.4 딕셔너리는 key는 index가 되고 value는 data가 된다

In [10]:
import pandas as pd

a = 0
dict_data = {'a' : 1, 'b' : 2, 'c':3}
sr = pd.Series(dict_data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [20]:


sl = pd.Series(list_data)
print(sl)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [23]:
sl = pd.Series(list_data, index = ['a','b','c','d','e','f','g','h','i','j'])
print(sl)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [28]:
tuple_data = tuple(range(10,101,10))
st = pd.Series(tuple_data, index = ['a','b','c','d','e','f','g','h','i','j'])
print(st)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [32]:
list_test = ['2019-01-01', 3.14, 'ABC', 100, True]
stest = pd.Series(list_test)
stest_index = stest.index
stest_value = stest.values
print(stest_index)
print(stest_value)

RangeIndex(start=0, stop=5, step=1)
['2019-01-01' 3.14 'ABC' 100 True]

In [40]:
# 리스트 -> 시리즈 : pd.Series(list)
# 시리즈 -> 리스트
# 시리즈의 index : [시리즈명].index
# 시리즈의 data : [시리즈명].values
dic_data = { '딸기' : 5000, '바나나' : 3000 }
s_fruits = pd.Series(dic_data)
print(s_fruits)

# 딸기, 바나나를 리스트로 저장하기
# 가격도 리스트로 저장하기
fruits = list(s_fruits.index)
price = s_fruits.values

print("상품 목록 : ", fruits)
print("가격 목록 : ", price)

딸기     5000
바나나    3000
dtype: int64
상품 목록 :  ['딸기', '바나나']
가격 목록 :  [5000 3000]

In [41]:
# shape
print(s_fruits.shape) # 컴퓨터 비전에서 데이터 내용 파악할 때 많이 쓰는 명령어
print(s_fruits.ndim) # n dimension (차원)

(2,)
1

In [61]:
test_data = list(range(10,61,10))
test_series = pd.Series(test_data, index = ['a','b','c','d','e','f'])
print(test_series)
print(test_series[2:5])
print(test_series['c'])

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
c    30
d    40
e    50
dtype: int64
30

In [80]:
test_tuple = ('영인','2010-05-01','여',True)
test_series_tuple = pd.Series(test_tuple, index = ['이름','생년월일','성별','학생여부'])
# print(test_series_tuple)

if(test_series_tuple['학생여부']):
    print(test_series_tuple[['이름','생년월일']])
else:
    print(test_series_tuple['이름'])

이름              영인
생년월일    2010-05-01
dtype: object

In [84]:
# 이름 인덱스부터 성별 인덱스까지 연속적인 인덱스 자료 선택하기
print( test_series_tuple['이름':'성별'])

이름              영인
생년월일    2010-05-01
성별               여
dtype: object

In [107]:
# 빈 Series, 상수로 구성된 Series
sr_empty = pd.Series()
# 데이터 0, 인덱스 0~100
sr_0 = pd.Series(0, index = list(range(101)))
print(sr_0)

0      0
1      0
2      0
3      0
4      0
      ..
96     0
97     0
98     0
99     0
100    0
Length: 101, dtype: int64