In [1]:
#import
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series(["Apple_사과","Banana_바나나","Cherry_체리",np.nan],
          index = ["first ","Second","Third","Fourth"])
print(ser)
print()

ser2 = pd.Series(["Apple_사과","Banana_바나나","Cherry_체리",np.nan],
          index = ["first "," Second"," Third","Fourth"], dtype = "string")

print(ser2)
print()

print(ser.str.lower())
print(ser.str.upper())
print(ser.str.len())

first       Apple_사과
Second    Banana_바나나
Third      Cherry_체리
Fourth           NaN
dtype: object

first        Apple_사과
 Second    Banana_바나나
 Third      Cherry_체리
Fourth           <NA>
dtype: string

first       apple_사과
Second    banana_바나나
Third      cherry_체리
Fourth           NaN
dtype: object
first       APPLE_사과
Second    BANANA_바나나
Third      CHERRY_체리
Fourth           NaN
dtype: object
first      8.0
Second    10.0
Third      9.0
Fourth     NaN
dtype: float64

In [3]:
print(ser.str.split("_"))
print(ser.str.split("_", expand = True)) # 데이터프레임으로 만들기
print(ser.str.split("_").str.get(1))

first       [Apple, 사과]
Second    [Banana, 바나나]
Third      [Cherry, 체리]
Fourth              NaN
dtype: object
             0    1
first    Apple   사과
Second  Banana  바나나
Third   Cherry   체리
Fourth     NaN  NaN
first      사과
Second    바나나
Third      체리
Fourth    NaN
dtype: object

In [4]:
# ex) a-10-b, a1-20-b2
# 시리즈로 만들기
ex1 = pd.Series(['a-10-b', 'a1-20-b2'],index = ['c0','c1'])
ex1 = ex1.str.split('-').str.get(1)
ex1 = ex1.astype("string")
print(ex1)
print()

ex2 = pd.Series(['a:10-b', 'a1:20-b2'],index = ['c0','c1'])
ex2 = ex2.str.split('[-\:]')
print(ex2)

c0    10
c1    20
dtype: string

c0      [a, 10, b]
c1    [a1, 20, b2]
dtype: object

In [5]:
idx = ser.index
idx
idx.str.strip()
#idx.str.lstrip()
#idx.str.rstrip()

Index(['first', 'Second', 'Third', 'Fourth'], dtype='object')

In [6]:
print(ser.str.replace("_",",",regex = False))
print()

print(ser.str.replace("[^a-zA-z\s]","",regex =True)) # 알파벳과 공백이 아닌것을 빈칸으로 치환
print(ser.str.replace("[^가-힣\s]","",regex =True)) # 한글과 공백이 아닌것을 빈칸으로 치환

first       Apple,사과
Second    Banana,바나나
Third      Cherry,체리
Fourth           NaN
dtype: object

first      Apple_
Second    Banana_
Third     Cherry_
Fourth        NaN
dtype: object
first      사과
Second    바나나
Third      체리
Fourth    NaN
dtype: object

In [7]:
print(ser.str[-1:-3:-1])

first      과사
Second     나나
Third      리체
Fourth    NaN
dtype: object

In [8]:
print(ser.str.contains("A", na = False)) # na값을 False로 처리
print(ser.str.contains(r"[A|B][a-z]+"))
# r:정규표현식 regex, 첫 글자는 [A|B], 두번째 글자는[a-z], 그리고 그 이상+

first      True
Second    False
Third     False
Fourth    False
dtype: bool
first      True
Second     True
Third     False
Fourth      NaN
dtype: object

In [54]:
ser3 = pd.Series(["a1","b2","c3","d4a5f9","e7e6","f8",],dtype = "string")

# 숫자만 추출하기
digits = ser3.str.extractall(r"(\d)").groupby(level = 0).agg("".join)
print(digits)
print()
# 소문자만 추출하기
letters = ser3.str.extractall(r"([a-z])").groupby(level = 0).agg("".join)
print(letters)

     0
0    1
1    2
2    3
3  459
4   76
5    8

     0
0    a
1    b
2    c
3  daf
4   ee
5    f

In [55]:
ser4 = pd.Series(["A1","B2","C3","D4a5f9","E77e6","F8",],dtype = "string")
ser5 = pd.Series(["가1","나2","다3","라5마6사6","아7자1차0","카9",],dtype = "string")
# 대문자 추출
LETTERS = ser4.str.extractall(r"([A-Z])").groupby(level = 0).agg("".join)
print(LETTERS)
print()
han = ser5.str.extractall(r"([가-힣])").groupby(level = 0).agg("".join)
print(han)
print()

   0
0  A
1  B
2  C
3  D
4  E
5  F

     0
0    가
1    나
2    다
3  라마사
4  아자차
5    카

In [56]:
split_c = ser3.str.extract(r"(?P<Letter>[a-z]+)(?P<Digit>\d+)")
split_c

  Letter Digit
0      a     1
1      b     2
2      c     3
3      d     4
4      e     7
5      f     8