In [2]:
#import
import pandas as pd

In [8]:
# p117
data = {'name' : ['Jerry','Rich','Paul'],
        'algol' : ['A','A+','B'],
        'basic' : ['C','B','B+'],
        'c++' : ['B+','C','C+']
       }
df = pd.DataFrame(data)
df = df.set_index('name')
df

      algol basic c++
name
Jerry     A     C  B+
Rich     A+     B   C
Paul      B    B+  C+

In [14]:
df.to_csv("./data/df_sample0423_no_index.csv", index = False)

In [18]:
df.to_json("./data/df_sample0423_json.json") # default
df.to_json("./data/df_sample0423_split.json", orient = "split") # split <-- 데이터를 index, columns, data롤 분리하여 JSON에 저장
df.to_json("./data/df_sample0423_records.json", orient = "records") # records <-- 각 행을 별도의 JSON 객체(딕셔너리)로 저장하며, 열 이름이 키로 사용된다. 이 딕셔너리 형태의 객체들이 리스트 형태의 배열로 저장된다
df.to_json("./data/df_sample0423_index.json", orient = "index") # index <-- 각 행의 인덱스를 키로 사용하고 각 행의 데이터를 JSON객체(딕셔너리)로 저장하여 매칭한다
df.to_json("./data/df_sample0423_columns.json", orient = "columns") # columns <-- 각 열을 별도의 JSON객체로 저장하며, 열 이름이 키로 사용된다
df.to_json("./data/df_sample0423_values.json", orient = "values") # values <-- 데이터프레임의 값(values 속성)만을 순서대로 저장한다. 이때 행 인덱스와 열 이름은 저장되지 않는다

In [21]:
data = {
        'name' : ['Jerry','Rich','Paul'],
        'algol' : ['A','A+','B'],
        'basic' : ['C','B','B+'],
        'c++' : ['B+','C','C+']
       }
df = pd.DataFrame(data)
df = df.set_index('name')
df.to_excel("./data/df_sample0423_excel.xlsx")

In [24]:
data1 = {
        'name' : ['Jerry','Rich','Paul'],
        'algol' : ['A','A+','B'],
        'basic' : ['C','B','B+'],
        'c++' : ['B+','C','C+']
       }
data2 = {
        'c0' : [1,2,3],
        'c1' : [4,5,6],
        'c2' : [7,8,9],
        'c3' : [10,11,12],
        'c4' : [13,14,15]
       }
df1 = pd.DataFrame(data1)
df1.set_index('name')

print(df1)
print()

df2 = pd.DataFrame(data2)
df2.set_index('c0')

print(df2)
print()

with pd.ExcelWriter("./data/df_sample0423_excelwriter.xlsx") as writer:
    df1.to_excel(writer, sheet_name = "sheet1")
    df2.to_excel(writer, sheet_name = "sheet2")

    name algol basic c++
0  Jerry     A     C  B+
1   Rich    A+     B   C
2   Paul     B    B+  C+

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15